body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.timer {
  display: flex;
  flex-direction: row;
  margin-top: 50 px;
  justify-content: center;
  align-items: baseline;
}

.timer-clock {
  display: flex;
  margin-top: 50 px;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin-right: 20px;
  align-content: center;
}

