body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.timer-clock {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 20px;
  font-size: 50px;
  border: solid 4px;
  border-radius: 100px;
  border-color: #3f50b5;
}

.timer-button {
  display: flex;
  justify-content: center;
}

